@import url('panchang.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: rgb(11, 9, 10);
    --dark-color2: rgb(22, 26, 29);
    --red-color: rgb(186, 24, 27);
    --red-color2: rgb(164, 22, 26);
    --red-color3: rgb(102, 7, 8);
    --red-color4: rgb(229, 56, 59);
    --grey-color: rgb(177, 167, 166);
    --grey-color1: rgb(211, 211, 211);
    --grey-color2: rgb(245, 243, 244);
}

body {
    background: var(--dark-color);

}

main, section {
    font-family: Panchang-Extrabold;
    min-height: 100vh;
    display: flex;
    padding: 0 70px;
    color: var(--grey-color2);

}

main {
    justify-content: center;
    align-items: center;

}

@supports (animation-timeline: scroll()) {

    .transitionStart {
        view-timeline-name: --transitionStart;
        z-index: 2;
        clip-path: ellipse(250% 200% at 50% 250%);
        animation: startTansition both linear;
        animation-timeline: --transitionStart ;
        animation-range: entry 0 entry 100%;
    }

    @keyframes startTansition {
        to {
            clip-path: ellipse(250% 200% at 50% 185%);
        }
    }
}

section {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.texturedTexts {
    background: var(--dark-color2);
}

.box1, .box2 {
    width: 40vw;
}

svg {
    width: 40vw;
}

h1,h2 {
    text-transform: uppercase;
}

h1 {
    font-size: clamp(1.5rem, calc(0.05rem + 5vw) , 4rem);
    text-align: center;
}
h2 {    
    font-size: clamp(1rem, 0.05rem + 2vw ,4rem);
}
.backgroundClip {
    background: linear-gradient(60deg, red, yellow, red, yellow, red);
    background-clip: text;
    color: transparent;
}

.maskContainer {
    background: linear-gradient(70deg, rgb(17, 17, 13) 0%, red, yellow 65%, transparent 85%);
}

.mask {
    color: white;
    mask-image: url(./img/splatterMask2.png); 
    mask-size: 10%;
}

