*{
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    background: rgb(222, 223, 225);
}

section {
    color: black;
    font-size: 2rem;
}
h1 {
    position: fixed;
}
/* animation for typeface text */
.main {
    height: 200vh;
    display:flex;
    padding-top: 50vh;
    justify-content: space-around;
    animation: fade-out ease-out forwards;
    animation-timeline: scroll();
    animation-range: cover 0% cover 50%;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        translate: translateY(0);
    }
    100% {
        opacity: 0;
        translate: translateY(50%);
    }
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    height: 100vh;
}

.card {
    height: 85vh;
    width: 80vw;
    border: 1px solid green;
}

.title-container {
    min-width: 100vw;
    display: flex;
    justify-content: center;
}
