* {
    box-sizing: border-box ;
    margin: 0;
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 90vw;
    overflow: hidden;
}

.container {
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
      );
      mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
}

.panel {
    flex: 0.5;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border-radius: 50px;
    -webkit-transition: all 700ms ease-in;
    transition: all 1000ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active:hover {
    flex: 1;
}

h3 {
    text-align: center;
}