* {
    box-sizing: border-box ;
    margin: 0;
}
:root {
    --diameter: 50px;
}

.nav {
    display: flex; 
    min-height: 100vh; 
    align-items: center;
    position: absolute;
    right: 2%;

}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}

.nav__link {
    display: flex; 
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(234, 225, 225);
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: rgb(242, 242, 242);
    color: rgba(125, 122, 122, 0.5);
    line-height: var(--diameter);
    transition: width  ease, height  ease;
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 90vw;
    overflow: hidden;
}

.container {
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
      );
      mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
}

.panel {
    flex: 0.5;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border-radius: 50px;
    -webkit-transition: all 700ms ease-in;
    transition: all 1000ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel.active:hover {
    flex: 1;
}

h3 {
    text-align: center;
}