@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+GB+S+Guides:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

:root {
    interpolate-size: allow-keywords;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: "Oswald", serif;
    text-transform: uppercase;
    width: 100%; 
    font-size: 10px;
    overflow-x: hidden;
    text-overflow: text;
}

.water-mark {
    position: absolute;
    z-index: 0;
    color: rgba(220, 227, 72, 0.256);
    font-size: 20rem;
    font-size: clamp(2rem, 10rem + 10vw, 20rem);;
}

body .water-mark {
    top: -31vh;
    right: -5vw;
}

.grid .water-mark {
    top: 60%;
    left: -2vw;
    /* clip-path: inset(0 0 40% 0); */
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 5vw 45vh 5vw;
    height: 200vh;
    background: black;
}

.header {
    display: flex;
    justify-content: end;
}

.nav ul{
    font-weight: 300;
    text-align: right;
    display: flex;
    letter-spacing: 0.2rem;
    gap: 10px;
    padding: 0 5px 0 0;
    border-right: 0.5rem solid grey;
}

.nav__link {
    font-size: clamp(0.5rem, 0.05rem + 1vw,2rem);
    list-style: none;
    z-index: 999;

}

.nav__link a {
    text-decoration: none;
    color: rgb(255, 253, 253); 
    cursor: pointer; 
}


.quote {
    text-align: left;
    letter-spacing: 0.25rem;
    position: relative;
}

.quote__text {
    font-weight: 500;
}


.quote__text {
    font-family: "Fenix", serif;
    color: white;
    font-size: clamp(1.8rem, 1.8rem + 6vw, 8rem);  
}

.quote__text span {
    display: block;
}

.small-text {
    font-size: clamp(0.8rem, 0.8rem + 6vw, 4rem); ;
    margin-left: clamp( 4cap ,4cap + 15vw, 10cap);
}

.button {
    position: relative;
    background: rgb(205, 178, 6);
    color: white;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    cursor: pointer;
}

.grid {
    min-height: 100vh;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* button from https://github.com/youneslaaroussi/ui-buttons*/

.btn-15 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-15:disabled {
  cursor: default;
}
.btn-15:-moz-focusring {
  outline: auto;
}
.btn-15 svg {
  display: block;
  vertical-align: middle;
}
.btn-15 [hidden] {
  display: none;
}
.btn-15 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  z-index: 0;
}
.btn-15 span {
  mix-blend-mode: difference;
}
.btn-15:after,
.btn-15:before {
  --skew: 0.2;
  background: #ffffff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}
.btn-15:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}
.btn-15:hover:before {
  --progress: 100%;
}
.btn-15:hover:after {
  --progress: -102%;
}


