
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Mattone-Black";
    src: url("./fonts/Mattone-Black.woff2") format("woff2");
}
@font-face {
    font-family: "Mattone-Bold";
    src: url("./fonts/Mattone-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Mattone-Regular";
    src: url("./fonts/Mattone-Regular.woff2") format("woff2");
}

body {
    font-family: "Mattone-Bold";
    text-transform: uppercase;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}

.header__title {
    -webkit-text-stroke: 1px rgb(103, 101, 101);
    color: transparent;
    padding: 20vh 0 0 0;
}

.nav {
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
    letter-spacing: 0.2rem;
}

.nav__link {
    font-family: "Mattone-regular"; 
    font-size: clamp(1rem, 0.25rem + 2vw,4rem);
    list-style: none;
}

.nav__link a {
    text-decoration: none;
    color: rgb(154, 170, 165);  
}

.quote {
    text-align: left;
    padding: 0 15vw 1rem 4rem;
}

.header__title, .quote {
    font-size: clamp(1.5rem, 1rem + 3vw,3.8rem);
}

.button {
    display: flex;
    justify-content: space-around;
}
.button__arrow {
    font-size: clamp(1.5rem, 1rem + 3vw,3rem);
    border-radius: 50%;
    padding: 10px 20px;
    background: rgba(169, 183, 187, 0.263);
    border: 1px solid rgba(149, 147, 147, 0.772);
}

.grid {
    min-height: 100vh;
}