@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');


html, body {
    font-family: "Playwrite IT Moderna", cursive;
    margin: 0;
    padding: 0;
    color: white;
    background: rgb(4, 29, 45);
    overflow: none;
}
canvas {
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-container {
    height: 200vh;
}

h1 {
    position: fixed;
    margin-top: 50vh;
    font-size: 2.5rem;
    text-transform: uppercase ;
}

.cards-container {
    position: fixed;
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin-top: 65vh;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    aspect-ratio: 2/0.7;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(222, 227, 233, 0.653);
    display: flex;
    justify-content: center;
    align-items: center;

}
.card span {
    font-size: 2.5rem;
    color: rgb(9, 71, 121) ;
}

.nonScroll {
    justify-content: center;
    align-items: end;
    padding: 0 20px ;
}
