*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --size: 20;
    --endWindow: 0;
}
body {
    background: 
    radial-gradient(
        circle 900px at -300px 20px,  
        rgb(0, 6, 8) 0%,
        rgba(1, 7, 18, 0.422) 42%,
        transparent 100%
    ),
    radial-gradient(
        circle 900px at var(--endWindow) 20px,  
        rgb(0, 6, 8) 0%,
        rgba(1, 7, 18, 0.422) 42%,
        transparent 100%
    ),
    linear-gradient(
        to bottom,
        rgb(4, 15, 36) 0% ,
        rgb(33, 89, 162) 50%,
        transparent 100%
    )    
    ;
}

.container {
    display: grid;
    max-height: 100vh;
    grid-template-columns: repeat(var(--size), 1fr);
    overflow-y: hidden;
}

.grid {
    border: 1px solid transparent;
    aspect-ratio: 1;
    background: hsla(0, 0%, 80%, 0.356);
}

@supports (backdrop-filter: blur(1rem)) {
    .grid {
        background: hsl(0 0% 100%/0.1);
        backdrop-filter: blur(1rem);
    }
}